[Desktop Entry]
Name=Yahoo! Weather Widget
Name[bg]=Yahoo джаджа
Name[hu]=Yahoo! Időjárás Widget
Name[pt_BR]=Widget Yahoo! Tempo
Name[sr]=Јаху! временска прогноза
Name[sr@ijekavian]=Јаху! временска прогноза
Name[sr@ijekavianlatin]=Yahoo! vremenska prognoza
Name[sr@latin]=Yahoo! vremenska prognoza
Name[zh_CN]=雅虎天气部件
Comment=A Simple Weather Monitor
Comment[bg]=Джада за времето
Comment[hu]=Egyszerű időjárás figyelő
Comment[pt_BR]=Um simples monitor de meteorologia
Comment[sr]=Једноставна временска прогноза
Comment[sr@ijekavian]=Једноставна временска прогноза
Comment[sr@ijekavianlatin]=Jednostavna vremenska prognoza
Comment[sr@latin]=Jednostavna vremenska prognoza
Comment[zh_CN]=一个简单的天气监控器
Encoding=UTF-8
Icon=weather-clouds
ServiceTypes=Plasma/Applet, Plasma/PopupApplet
Type=Service
Keywords=weather;forecast;yahoo;
X-KDE-PluginInfo-Author=Symeon Huang
X-KDE-PluginInfo-Email=hzwhuang@gmail.com
X-KDE-PluginInfo-Name=com.librehat.yahooweather
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Version=5.2.0
X-KDE-PluginInfo-Website=http://en.librehat.com
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
